  html {
    overflow-y: scroll;
  }

  body {

    margin: 0;
    padding: 3em;
    text-align: center;
    background: white;
    color: black;
    font-size: 1em;
    font-family: sans-serif;

  }
  
  a { text-decoration: none; }
  
  a:hover { text-decoration: underline; }
  
  h1 { font-size: 2em; padding-bottom: 0; }

  h1 { margin-bottom: 1.8em; }
  
  h1 a { color: black; }

  #quote { color: gray; font-family: serif; margin-bottom: 1.8em; }

  #quote span { font-size: 4em; vertical-align: -40%; }

  #contact { margin-bottom: 2.2em; }
  
  #contact a { color: black; }

  #contact a:hover { text-decoration: none; }
  
  li a { color: black; font-size: 1.1em; }
  
  ul {

    list-style: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 40%;

  }
  
  li {

    text-align: center;
    margin: 0;
    background: #ddd;
    padding: 1em;
    font-size: 0.9em;
    cursor: pointer;

  }

  #notify {

    position: absolute;
    width: 40em;
    height: 25em;
    top: 50%;
    left: 50%;
    margin-left: -20em;
    margin-top: -12.5em;
    padding: 3em;
    border: 1px black solid;
    background: white;

  }

  #notify div {

    margin-top: 3em;
    text-align: center;
    font-size: 1.8em;

  }

  #notify a { color: gray; }

  #email_box {

    position: absolute;
    width: 34em;
    height: 20em;
    top: 50%;
    left: 50%;
    margin-left: -17em;
    margin-top: -10em;
    padding: 3em;
    border: 1px black solid;
    background: white;

  }

  #email_box textarea {

    width: 100%;
    height: 8em;
    margin: 0;

  }

  #email_box div { padding: 0; margin: 0; margin-bottom: 3em; }

  #from { width: 30em; margin-left: 3em; }

  #email_box div.footer { text-align: left; }

  #email_box div.footer input { float: right; }

  #email_box div.footer a { color: gray; }
  
