  html {
    overflow-y: scroll;
  }

  body {

    margin: 0;
    padding: 2em;
    text-align: center;
    background: white;
    color: #3B3C36;
    font-size: 1em;
    font-family: sans-serif;

  }
  
  a { text-decoration: none; color: orange; }
  
  a:hover { text-decoration: underline; color: orange; }
  
  h1 {

    font-size: 3em;
    font-weight: normal;
    padding-bottom: 0;
    margin-bottom: 0.4em;

  }
  
  h1 a { color: gray; }

  h1 a:hover { text-decoration: none; }

  #contact { font-size: 1.6em; margin: 0; margin-bottom: 1.2em; }
  
  #contact a { color: gray; }

  #contact a:hover { text-decoration: none; color: orange; }

  #about {

    width: 40%;
    margin: 0 auto;
    margin-bottom: 3em;
    font-size: 0.8em;
    line-height: 2em;

  }
  
  li a { color: #3B3C36; font-size: 1.1em; }
  
  ul {

    list-style: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 30%;

  }
  
  li {

    text-align: center;
    margin: 0;
    margin-bottom: 0.5em;
    background: #ddd;
    padding: 1em;
    font-size: 0.9em;
    cursor: pointer;
    border-radius: 0.6em;
    -moz-border-radius: 0.6em;

  }

  li:hover {

    background: orange;

  }

  li a:hover {

    color: #3B3C36;
    text-decoration: none;

  }

  #notify {

    position: absolute;
    width: 40em;
    height: 25em;
    top: 50%;
    left: 50%;
    margin-left: -20em;
    margin-top: -12.5em;
    padding: 3em;
    border: 1px #3B3C36 solid;
    background: white;

  }

  #notify div {

    margin-top: 3em;
    text-align: center;
    font-size: 1.8em;

  }

  #notify a { color: gray; }

  #email_box {

    position: absolute;
    width: 34em;
    height: 20em;
    top: 50%;
    left: 50%;
    margin-left: -17em;
    margin-top: -10em;
    text-align: center;
    padding: 3em;
    border: 1px #3B3C36 solid;
    background: white;
    border-radius: 1em;
    -moz-border-radius: 1em;

  }

  #email_box textarea {

    width: 90%;
    height: 8em;
    margin: 0;
    padding: 1em;
    border-radius: 0.6em;
    -moz-border-radius: 0.6em;

  }

  #email_box input {

    padding: 1em;
    border-radius: 0.6em;
    -moz-border-radius: 0.6em;

  }

  #email_box div { padding: 0; margin: 0; margin-bottom: 2em; }

  #from { width: 30em; margin-left: 3em; }

  #email_box div.footer { text-align: left; }

  #email_box div.footer input { float: right; }

  #email_box div.footer a { color: gray; }
  
